<div class="create-game-bg">
  <div class="game-create-card">
    <img src="/images/logopp.png" alt="Logo" class="game-logo">
    <h2>Criar Jogo</h2>
    <form (ngSubmit)="criarJogo()" #gameForm="ngForm" id="game-create-form">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nome do jogo" [(ngModel)]="novoJogo.name" name="name" required>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Plataforma disponível" [(ngModel)]="novoJogo.platform" name="platform" required>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Gênero do jogo" [(ngModel)]="novoJogo.gender" name="gender" required>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Classificação indicativa" [(ngModel)]="novoJogo.indicativeRating" name="indicativeRating" required>
      </div>
      <div class="mb-3">
        <input type="date" class="form-control" placeholder="Data de lançamento" [(ngModel)]="novoJogo.releaseDate" name="releaseDate" required>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="URL da imagem" [(ngModel)]="novoJogo.imgUrl" name="imgUrl" required>
      </div>
      
      <button type="submit" class="btn btn-custom-green w-100 mb-3">Criar</button>
    </form>
  </div>
  <a [routerLink]="'/'">
    <button class="floating-button">
        <i class="fas fa-arrow-left"></i>
    </button>
  </a>
</div>
