<div class="create-game-bg">
  <div class="game-create-card">
    <img src="/images/logopp.png" alt="Logo" class="game-logo">
    <h2>Criar Jogo</h2>
    <form id="game-create-form">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nome do jogo">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Plataforma disponível">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Gênero do jogo">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Classificação etária">
      </div>
      <div class="mb-3">
        <input type="date" class="form-control" placeholder="Data de lançamento">
      </div>
      <div class="mb-3">
        <input type="image" class="form-control" placeholder="Imagem do jogo">
      </div>
      <a [routerLink]="['']">
        <button type="submit" class="btn btn-custom-green w-100 mb-3">Criar</button>
      </a>
    </form>
  </div>
  <a [routerLink]="'/'">
    <button class="floating-button">
        <i class="fas fa-arrow-left"></i>
    </button>
  </a>
</div>
