<div id="signup-component" class="container">
    <div class="signup-form-container">
        <h2 class="mb-4">Cadastre-se</h2>
        
        <form id="signup-form-form">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Seu nome completo">
            </div>
            
            <div class="mb-3">
                <input type="email" class="form-control" placeholder="Seu melhor e-mail">
            </div>
            
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Sua senha">
            </div>
            
            <button type="submit" class="btn btn-custom-green w-100 mb-3">Cadastre-se</button>
            
            <div class="text-center">
                <span class="text-white">Já tem uma conta? </span>
                <a href="/login" class="text-custom-green text-decoration-none">Faça Login</a>
            </div>
        </form>
    </div>
</div>
