#login {
    background-image: url("/images/capadefundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    opacity: 0.25;
    position: relative;
}

#login-content {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
 }

 #login-component-container {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}