<div id="login-component" class="container">
    <div class="login-form-container">
        <h2 class="mb-4">Entre na sua conta</h2>
        
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="E-mail ou número de telefone">
            </div>
            
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Sua senha">
            </div>
            
            <a href="/home" class="btn btn-custom-green w-100 mb-3">Entrar na conta</a>
            
            <div class="text-center mb-3">
                <a href="/cadastre-se" class="text-white text-decoration-none">Esqueci minha senha</a>
            </div>
            
            <div class="text-center">
                <span class="text-white">Novo por aqui? </span>
                <a href="/cadastre-se" class="text-custom-green text-decoration-none">Cadastre-se</a>
            </div>
        </form>
    </div>
</div>