<div class="card bg-dark text-white m-3" [style.background-image]="'url(' + backgroundImage + ')'">
  <div class="card-content">
    <h2 class="title">{{title}}</h2>
    <p class="description mb-3">{{gender}}</p>
    <div class="info-container">
      <div class="info-item">
        <i class="bi bi-controller"></i>
        <span>{{platform}}</span>
      </div>
      <div class="info-item">
        <i class="bi bi-person"></i>
        <span>{{ageClassification}}</span>
      </div>
      <div class="info-item">
        <i class="bi bi-tag"></i>
        <span>{{realeseDate}}</span>
      </div>
    </div>
  </div>
</div>