<app-header />
<div style="margin-top: 0px;">
</div>
<div class="container">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let game of games">
            <app-card
                [id]="game.id"
                [name]="game.name"
                [platform]="game.platform"
                [releaseDate]="game.releaseDate"
                [indicativeRating]="game.indicativeRating"
                [gender]="game.gender"
                [imgUrl]="game.imgUrl"
                (deleted)="carregarJogos()">
            </app-card>
        </div>
    </div>
</div>

<a [routerLink]="['/criar-jogo']">
    <button class="floating-button">
        <i class="fas fa-plus"></i>
    </button>
</a>



