<div id="header" class="d-flex align-items-center px-4 py-2 bg-dark">
    <div id="logo">
        <img src="/images/logopp.png" alt="logo">
    </div>
    <nav id="nav-menu">
        <a class="nav-link" href="#">Início</a>
        <a class="nav-link" href="#">Jogos</a>
        <a class="nav-link" href="#">Desenvolvedoras</a>
        <a class="nav-link" href="#">Reviews</a>
    </nav>
    <div id="header-right">
        <form id="search-bar">
            <span class="search-icon">
                <i class="bi bi-search"></i>
            </span>
            <input type="text" placeholder="Search">
        </form>
        <img id="avatar" src="/images/avatar.jpg" alt="Avatar">
    </div>
</div>